#Save-Screen {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    /* Safari blur */
    -webkit-backdrop-filter: blur(8px);
    z-index: 999;
    overflow-y: auto;

    display: none;
    align-items: center;
    flex-direction: column;
    gap: 1%;
}

.save-title {
    font-size: 64px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

#key-input {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 6px;
    width: 60%;
    aspect-ratio: 12/1;
    font-size: 2em;
    border-radius: 1vw;
    border: 3px solid white;
    outline: none;
    color: white;
    background-color: black;
}

#Save-Screen p {
    color: white;
    width: 60%;
    white-space: nowrap;
    font-size: 1.1em;
}

#Save-Screen button {
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    aspect-ratio: 9/2;
    font-size: 4vw;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

#Save-Screen button:hover {
    filter: brightness(70%);
    transition: 0.1s ease-in-out;
}

.save-buttons {
    padding-top: 1%;
    display: flex;
    gap: 1%;
    width: 100%;
    justify-content: center;
}

#cancel {
    background-color: red;
}

#load {
    background-color: blue;
}
