/* Imports*/
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(5deg);
    }

    66% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;

    display: flex;
    justify-content: center;
    overflow: hidden;
}

menu {
    background-color: rgba(17, 17, 17, 0);
    user-select: none;
}

p {
    font-size: 12px;
    font-family: "Karla", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

/* Main Screen css (keep in mind percents might seem wierd but they were originally designed in figma */
#Game-Screen {
    width: 150vh;
    aspect-ratio: 3/2;
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 0px 20px 20px black;

    display: flex;
    user-select: none;
}

#win-bar {
    position: relative;
    height: 100%;
    width: 7.33%;

    background-color: #181818;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-direction: column;
    z-index: 2;
}

#win-bar div {
    width: 45%;
    aspect-ratio: 1/1;

    background-color: #383838;
    border-radius: 999px;
    transition: 0.3s;
}

#win-bar div:hover {
    transform: scale(111%);
}

#buff-menu {
    position: relative;
    width: 25%;
    height: 100%;

    background-color: #262626;
    box-shadow: 5px 0 40px rgb(0, 0, 0, 0.6);
    z-index: 1;

    display: flex;
}

#perm-scroller {
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5%;
    overflow-y: auto;
}

.perm-chip {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    color: white;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
}

.perm-name {
    font-size: 1.5vw;
}

.perm-amount {
    font-size: 2vw;
}

.chip {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    border: dotted 5px white;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.chip:hover {
    transform: scale(102%) rotate(360deg);
    box-shadow: 0px 0px 30px 05px rgb(0, 0, 0, 0.8);
    cursor: pointer;
}

.chip-inner {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    border: solid 3px white;
    background-color: darkgreen;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 10%;
    aspect-ratio: 1/1;
}

#temp-scroller {
    width: 75%;
    height: 100%;

    display: none;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    overflow-y: auto;
    padding-top: 5%;
}

#tabs {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#tabs div {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-family: monospace;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    font-size: 1.2vw;
}

.unselected-tab {
    background-color: #383838;
    border: #5b5b5b solid 6px;
}

.selected-tab {
    background-color: #5c5c5c;
    border: #7d7d7d solid 6px;
}

#cards {
    width: 47%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.055);

    display: flex;
    flex-direction: column;
}

#dealer-half {
    width: 100%;
    height: 50%;
    background-color: #64646428;

    display: flex;
    flex-direction: column;
}

#player-half {
    width: 100%;
    height: 50%;
    background-color: #64646428;

    display: flex;
    flex-direction: column;
}

.top {
    height: 30%;
    width: 100%;
    background-color: #099e5d54;
    background-color: transparent;
    background-color: rgb(35, 35, 35);

    display: flex;
    align-items: center;
    justify-content: center;
}

.top p {
    text-align: center;
    font-size: 5vw;
    color: white;
    font-weight: 400;
}

.bottom {
    height: 70%;
    width: 100%;
    background-color: #9c19193d;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

    padding-left: 2%;
    padding-right: 2%;
}

#actions {
    width: 21%;
    height: 100%;
    background-color: rgba(158, 158, 158, 0.075);
    box-shadow: -5px 0 40px rgb(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
}

.action-settings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 5%;

    height: 25%;
    width: 100%;
}

.action-settings button {
    width: 80%;
    aspect-ratio: 6/2;
    background-color: #383838;
    border: 5px solid #5b5b5b;
    border-radius: 20px;
    color: white;
    font-size: 2vw;
    transition: 0.3s ease-in-out;
}

.action-settings button:hover {
    cursor: pointer;
    background-color: #262626;
    transform: translateY(-5%);
}

.deck-div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30%;
    width: 100%;
}

#deck {
    width: 50%;
    aspect-ratio: 1/1.6;
    background-color: rgb(153, 26, 26);

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: #440b0b -1vw 1.5vw 1vw 1vw;
    transform: translateX(6%);
    transition: 0.3s;
}

#deck:hover {
    transform: scale(105%) translateX(6%);
}

#deck div {
    width: 80%;
    height: 88%;
    border: 2px dashed whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hit-stand {
    height: 45%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

#hit {
    width: 80%;
    aspect-ratio: 5/2;
    border-radius: 15px;
    border: none;
    font-size: 3vw;
    transition: 0.3s ease-in-out;
    font-weight: 800;

    background-color: #d42222;
    color: white;
    font-family: "Karla", sans-serif;
}

#hit:hover {
    background-color: #9c1919;
    cursor: pointer;
    transform: scale(105%);
}

#stand {
    width: 80%;
    aspect-ratio: 5/2;
    border-radius: 15px;
    border: none;
    font-size: 2.4vw;
    color: white;
    font-weight: 800;
    font-family: "Karla", sans-serif;
    transition: 0.3s ease-in-out;

    background-color: #128d41;
}

#stand:hover {
    background-color: #0c5327;
    cursor: pointer;
    transform: scale(105%);
}
