#Title-Screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background: url("../Photos/tablebackground2.avif");
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 99;
    gap: 5%;
    box-shadow: 0px 0px 200px 200px rgba(0, 0, 0, 0.5);

    animation: scroll-bg 30s linear infinite;
}

@keyframes scroll-bg {
    from {
        background-position-x: 0;
        background-position-y: 0;
    }

    to {
        background-position-x: -100vw;
    }
}

#Title-Screen h1 {
    color: #ffffff;
    font-size: 6em;
    margin-bottom: 0;
    text-align: center;
    font-family: dueces;
}

#Title-Screen h1 span {
    color: darkred;
    text-shadow:
        1px 0 white,
        -1px 0 white,
        0 1px white,
        0 -1px white;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80vw;
    aspect-ratio: 12/2;
    gap: 2%;
}

.title-button {
    width: 20%;
    height: 55%;
    font-size: 2.5vw;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-in-out;
    font-family: dueces;
}

.title-button:hover {
    transform: scale(1.05);
}

#start-button {
    font-size: 5vw;
    font-weight: semi-bold;
    background-color: green;
    border: 2px solid white;
    color: white;
    width: 32%;
    height: 75%;
    border-radius: 3vw;
    transition: 0.3s ease-in-out;
    font-family: dueces;
}

#start-button:hover {
    background-color: darkred;
    cursor: pointer;
    transform: scale(1.05);
}

@keyframes slideUp {
    0% {
        transform: translateY(0vh);
        background-position-x: 0;
    }

    100% {
        transform: translateY(-200vh);
        background-position-x: -30vw;
    }
}

#links {
    width: 70%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.13);
}

#links a {
    cursor: pointer;
}
